body {
  margin: 0 auto;
  /*max-width: 1280px;*/
  padding-top: 20px;
  width: 85%;
}

div {
  border: 1px solid #f00;
}

.bordered {
  border: 1px solid black;
}

.row {
  margin-top: 10px;
  height: 102px;
}

.box-orange {
  width: 99.9%;
  height: 100px;
  background-color: orange;
}

.box-red {
  width: 20%;
  height: 100px;
  background-color: red;
  float: left;
  display: block;
}

.box-blue {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background-color: blue;
  display: block;
}

.box-black {
  width: 20%;
  height: 100px;
  background-color: black;
  float: right;
  display: block;
}

.box-green {
  background-color: green;
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 70%;
}

.box-yellow {
  width: 100%;
  height: 100px;
  background-color: yellow;
}

.box-grey {
  margin-left: 20%;
  float: left;
  width: 16%;
  height: 100px;
  background-color: grey;
}

.box-pink {
  width: 40%;
  height: 100px;
  float: right;
  background-color: pink;
}
