body {
  margin: 0 auto;
  /*max-width: 1280px;*/
  padding-top: 20px;
  width: 85%;
}

.bordered {
  border: 1px solid black;
}

.row {
  margin-top: 10px;
  height: 102px;
}

.box-orange {
  width: 99.9%;
  height: 100px;
  background-color: orange;
}

.box-red {
  width: 14%;
  height: 100px;
  background-color: red;
  float: left;
  display: block;
}

.box-blue {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 92px;
  background-color: blue;
  display: block;
  z-index: 200;
  position: relative;
}

.box-blue-wrapper {
  padding-top: 8px;
}

.box-black {
  width: 14%;
  height: 100px;
  background-color: black;
  float: right;
  display: block;
}

.box-purple {
  height: 350px;
  position: fixed;
  width: 12%;
  z-index: 100;
  left: 34%;
  background-color: purple;
}

.box-green {
  background-color: green;
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 93%;
  z-index: -100;
}

.box-yellow {
  width: 100%;
  height: 100px;
  background-color: yellow;
  z-index: 200;
  position: relative;
}

.box-grey {
  margin-left: 10%;
  float: left;
  width: 18%;
  height: 100px;
  background-color: grey;
}

.box-magenta {
  width: 52.7%;
  height: 100px;
  float: right;
  background-color: magenta;
}
